<form>
  <div class="row mx-4 mt-4">
    <div class="col-3">
      <label for="placaCarro" class="form-label">Placa</label>
      <input type="text" class="form-control" title="Placa" />
    </div>
    <div class="col-3">
      <label for="tipoVehiculo" class="form-label">Tipo de vehículo</label>
      <select class="form-control" title="Tipo vehículo">
        <option></option>
      </select>
    </div>
    <div class="col-3">
      <label for="electrico" class="form-label">¿Es eléctrico?</label>
      <select class="form-control" title="Eléctrico">
        <option></option>
      </select>
    </div>
    <div class="col-3">
      <label for="plazaAsignada" class="form-label">Plaza asignada</label>
      <select class="form-control" title="Plaza">
        <option></option>
      </select>
    </div>
    <div class="col-12 mt-3 text-right">
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </div>
</form>
